body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 100;
    padding: 100;
    background: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1000px; /* Définit la largeur maximale du conteneur */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 0 1rem; /* Ajoute du padding pour éviter que le contenu touche les bords */
    box-shadow: -8px 0px rgba(0, 0, 0, 0.1);
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover {
    text-decoration: underline;
}

#projects {
    padding: 4rem 0;
    text-align: center;
}

#projects .container {
    max-width: 1200px;
    margin: 0 auto;
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project {
    background: #fff;
    padding: 1.5rem;
    flex: 1 1 calc(33.333% - 2rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.project h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.project p {
    font-size: 1rem;
    color: #666;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
